.t-result{
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}


.t-result td{
	padding: 0.5em 1em;
}


.t-result tr:nth-child(even) {
	background-color: whitesmoke;
}


.t-result td.key{
	font-size: 1.5em;
	direction: rtl;
	font-family: 'x-shlomo';
}


.t-result td.value{}


.t-result td.note{
	font-style: italic;
}

